@import "tailwindcss";
body{
  background-image: url(../public/images/photo-1586809764311-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}